.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.schoollist img {
  max-width: 200px;
  max-height: 100px;
}


.head{
  width: 100%;
}

.headerFloat{
  float: left;
}

.profileView{
  float: right;
}

.profilePic{
  max-width: 200px;
  max-height: 200px;
}

.howitworks{
  text-align: left;
}

.howimage{
  float:left;
}

.howtext{
  float:left;
}

.clear{
  clear: both;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
